* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    list-style-type: none;
    color: #aebac1;
    font-family: sans-serif;
}

body {
    display: flex;
    width: 100%;
    margin: 10px;
    
    background-color: #0c1317;
}

.top {
    /* position: fixed; */
    border: 0;
    border-bottom: 1px;
    border-color: rgba(174,186,193, 0.1);
    border-style: solid;
}


.left-box {
    background-color: #111b21;
    width: 30%;
    height: 100vh;
    border: 0;
    border-right: 0.5px;
    border-style: solid;
    border-color: rgba(174,186,193, 0.2);
}

.head-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: #202c33;
    padding: 8px 9px;

    img {
        height: 40px;
        border-radius: 50%;
        margin-left: 10px;
        /* padding-left: 9px; */
    }

}

.toggle {
    display: flex;
    padding-left: 10%;

    div {
        margin: 13px;
    }

    img {
        height: 20px;
        width: 20px;
    }
}


.option ul {
    display: flex;
    margin-left: 15px;
    margin-bottom: 8px;

    li {
        margin: 10px 10px 0 0;
        border-style: solid;
        border-radius: 30px;
        border: 0;
        background-color: #202c33;
        padding: 8px 10px;
        
    }
}

.search-box {
    padding-right: 12px;
}

input::placeholder {
    font-family: sans-serif;
    color: #aebac1;
}

.search{
    padding: 0 32px 0 10px;
    display: flex;
    margin-top: 7px;
    border-radius: 5px;
    height: 35px;
    margin-left: 2.5%;
    background-color: #202c33;
    align-items: center;
    justify-content: space-between;

    svg {
        margin-right: 30px;
    }
}

#search {
    border-style: none;
    border-color: #202c33;
    background-color: #202c33;
    width: 90%;
}

input:focus {
    outline: none;
}

#RHS {
    width: 70%;
    height: 100vh;
    background-color: #222e35;
}

.page {
    text-align: center;
}

.first {
    margin-top: 15%;
}

.download {
    margin: 28px 0 0;
}

.Make {
    margin: 24px 0 0;
}

.store {
    margin: 32px 0 0;
    height: 35px;
    width: 200px;
    border-radius: 30px;
    background-color: #00a884;
    border: 0;

    div {
        font-weight: 550;
        color: #111b21;
    }
}

button:hover {
    background-color: #06cf9c;
}

.encrypt {
    margin-top: 150px
}




.chats img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px 0 0 10px;
}

.chat1, .chat2, .chat3, .chat4, .chat5, .chat6, .chat7 {
    display: flex;
    align-items: center;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgba(174, 186, 193, 0.2);
    /* margin: 10px 0; */

    div {
        margin: 4px;
    }
}
